@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff'),
        url('fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wadik';
    src: url('fonts/WadikBold.eot');
    src: url('fonts/WadikBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/WadikBold.woff2') format('woff2'),
        url('fonts/WadikBold.woff') format('woff'),
        url('fonts/WadikBold.ttf') format('truetype'),
        url('fonts/WadikBold.svg#WadikBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Wadik';
    font-weight: 700;
    font-size: 38px;
    line-height: 135%;
    color: #000014;
}

h2 {
    font-family: 'Wadik';
    font-weight: 700;
    font-size: 32px;
    line-height: 135%;
    color: #000014;
}

h3 {
    font-family: 'Wadik';
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: #000014;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

li {
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    background: #fff;
    border-radius: 0 0 40px 40px;
    -webkit-box-shadow: 10px 4px 24px 4px rgba(0,0,0,0.06);
    -moz-box-shadow: 10px 4px 24px 4px rgba(0,0,0,0.06);
    box-shadow: 10px 4px 24px 4px rgba(0,0,0,0.06);
    position: relative;
    z-index: 2;
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #378FC4;
    border-radius: 0 0 40px 40px;
}

.header_top > div:nth-child(1) {
    width: 50%;
    padding: 4px 10px 4px 80px;
}

.header_top > div:nth-child(2) {
    width: 50%;
    padding: 4px 80px 4px 10px;
}

.tel_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.tel_list li {
    padding: 10px 20px;
}

.tel_list li a {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_list li a:link,
.tel_list li a:visited {
    color: #333347;
}

.tel_list li a:active,
.tel_list li a:hover {
    color: #378FC4;
}

.inlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 -20px;
}

.inlines > div {
    padding: 10px 20px;
}

.city {
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

.time {
    display: inline-flex;
    vertical-align: top;
    font-size: 16px;
    line-height: 135%;
    color: #333347;
}

.time i {
    margin-right: 15px;
}

.datepicker {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background-image: url(img/datapicker.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header_fixed {
    display: flex;
    padding: 0 80px 10px 80px;
}

.header_fixed > div:nth-child(1) {
    width: 185px;
    padding: 23px 10px 10px 0;
}

.header_fixed > div:nth-child(2) {
    width: calc(100% - 370px);
    padding: 30px 10px 10px 10px;
}

.header_fixed > div:nth-child(3) {
    width: 185px;
    padding: 20px 0 10px 10px;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.resp_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resp_nav li {
    padding: 0 20px;
}

.resp_nav li a {
    font-size: 18px;
    line-height: 22px;
    color: #333347;  
}

.transparent_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #378FC4;
    padding: 12px 24px;
    min-width: 151px;
    min-height: 46px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #378FC4;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Promo --*/

.promo_templ {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.promo_img {
    position: absolute;
    top: -252px;
    left: -297px;
}

.promo_descript {
    max-width: 636px;
    padding: 121px 0 190px 10px;
    position: relative;
    z-index: 2;
}

.blue_line {
    display: flex;
    margin: 8px 0;
}

.blue_line:before {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #51B6E2 0%, #0B709C 100%);
    border-radius: 40px;
    margin-top: 10px;
}

.blue_line p {
    padding-left: 17px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: #2085B1;
}

.promo_descript_text {
    padding: 8px 0;
}

.promo_descript_text p {
    font-size: 18px;
    line-height: 135%;
    color: #333347;
}

.blue_pill {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    min-width: 220px;
    min-height: 50px;
    background: linear-gradient(90deg, #3DA2CE 0%, #1F84B0 100%);
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}

.promo_descript .blue_pill {
    margin: 15px 0;
}

.z_2 {
    position: relative;
    z-index: 2;
}

.two_cols {
    display: flex;
    flex-wrap: wrap;
}

.two_cols > div:nth-child(1) {
    width: 50%;
    padding: 20px 27px 20px 0;
}

.two_cols > div:nth-child(2) {
    width: 50%;
    padding: 30px 0 20px 15px;
}

.h2_line > div:nth-child(1) {
    display: flex;
}

.h2_line > div:nth-child(1):after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #51B6E2 0%, #0B709C 100%);
    border-radius: 40px;
    margin: 16px 0 0 14px;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 7px -12px;
}

.thumb {
    display: flex;
    width: calc(33.33% - 24px);
    margin: 12px;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 24px 24px;
    background: #FFF;
    box-shadow: 0 4px 32px rgba(10, 10, 106, 0.1);
    border-radius: 32px;
}

.thumb_title {
    display: flex;
    min-height: 58px;
}

.thumb_title > div:nth-child(1) {
    width: calc(100% - 50px);
}

.thumb_title > div:nth-child(2) {
    width: 50px;
    display: flex;
    justify-content: flex-end;
}

.thumb_title h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: #000014;
}

.thumb_descript p {
    font-size: 18px;
    line-height: 135%;
    color: #333347;
}

/*-- /Section 1 - Promo --*/

/*-- Section 2 - Promo --*/

.two_cols_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 71px 0 94px 0;
}

.two_cols_2 > div:nth-child(1) {
    width: 420px;
    padding: 45px 10px 10px 0;
}

.two_cols_2 > div:nth-child(2) {
    width: calc(100% - 420px);
    padding: 10px 0 10px 10px;
}

.h2_wrapp_line h2 {
    display: block;
}

.h2_wrapp_line h2:after {
    display: block;
    content: "";
    width: 100%;
    max-width: 302px;
    height: 10px;
    background: linear-gradient(90deg, #51B6E2 0%, #0B709C 100%);
    border-radius: 40px;
    margin: 18px 0 20px 0;
}

.h2_wrapp_line p {
    font-size: 18px;
    line-height: 135%;
    color: #333347;
}

.thumbs_2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.thumb_2 {
    width: calc(33.33% - 24px);
    margin: 12px;
    padding: 20px 20px 20px 20px;
    background: #FFF;
    border: 1px solid rgba(55, 143, 196, .2);
    border-radius: 32px;
}

.thumb_2_price {
    display: flex;
    min-height: 58px;
}

.thumb_2_price > div:nth-child(1) {
    width: 55px;
}

.thumb_2_price > div:nth-child(2) {
    width: calc(100% - 55px);
    padding-top: 7px;
}

.thumb_2_price > div:nth-child(1) img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.thumb_2_price p {
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #2085B1;
}

.thumb_2_title {
    padding-bottom: 10px;
}

.thumb_2_descript {
    min-height: 126px;
}

.blue_pill_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px 15px 20px;
    width: 100%;
    min-height: 50px;
    background: rgba(55, 143, 196, 0.08);
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2085B1;
}

/*-- /Section 2 - Promo --*/

/*-- Section 3 - Promo --*/

.blue_bg {
    background: #0B709C;
}

.sect_3 {
    padding: 77px 0 108px 0;
}

.article_descript {
    max-width: 755px;
    position: relative;
    z-index: 2;
}

.article_descript h3 {
    padding: 39px 0 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.8);
}

.article_descript h2 {
    padding: 10px 0;
    color: #FFF;
}

.article_descript p {
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #FFF;
}

.article_descript ul {
    padding: 8px 0;
}

.article_descript ul li {
    padding: 8px 0 8px 37px;
    font-size: 18px;
    line-height: 135%;
    color: #FFF;
    position: relative;
}

.article_descript ul li:before {
    display: block;
    content: "";
    width: 24px;
    height: 28px;
    background-image: url(img/mark.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 0;
}

.article_img {
    position: absolute;
    top: 64px;
    right: 0;
}

/*-- /Section 3 - Promo --*/

/*-- Section 4 - Promo --*/

.sect_4 {
    padding: 128px 0 30px 0;
}

.h2_wrapp_2 {
    max-width: 620px;
}

.faqs_two_cols {
    display: flex;
    flex-wrap: wrap;
    padding: 11px 0 61px 0;
}

.faqs_two_cols > div:nth-child(odd) {
    width: 50%;
    padding: 10px 10px 10px 0;
}

.faqs_two_cols > div:nth-child(even) {
    width: 50%;
    padding: 10px 0 10px 10px;
}

.faq_item {
    margin: 17px 0;
    padding: 16px 10px 16px 20px;
    background: #FFF;
    border: 1px solid rgba(55, 143, 196, .2);
    box-shadow: none;
    border-radius: 32px;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.faq_item.active {
    box-shadow: 0 4px 32px rgba(10, 10, 106, .1);
}

.faq_item_title {
    padding-right: 45px;
    position: relative;
    cursor: pointer;
}

.dr_btn {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: #378FC4;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: 1px;
}

.dr_btn:before {
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    background: #fff;
}

.dr_btn:after {
    display: block;
    content: "";
    width: 2px;
    height: 16px;
    border-radius: 2px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 2px);
    background: #fff;
    transform: rotate(0);
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.faq_item.active .dr_btn:after {
    transform: rotate(90deg);
}

.faq_item_title h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    color: #000014;
}

.faq_item_content {
    padding: 19px 0 0 0;
}

.faq_item_content p {
    font-size: 16px;
    line-height: 135%;
}

/*-- /Section 4 - Promo --*/

/*-- Section 5 - Promo --*/

.testimonials {
    margin: 0 -12px;
}

.testimonials .slide {
    padding: 12px;
}

.testimonial {
    padding: 20px;
    width: 411px;
    margin: 30px 0;
    min-height: 292px;
    background: #FFF;
    box-shadow: 0 4px 32px rgba(10, 10, 106, .1);
    border-radius: 32px;
}

.testimonial h3 {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: #333347;
}

.testimonial p {
    font-size: 18px;
    line-height: 135%;
    color: #333347;
}

.slick-arrow {
    display: block;
    border: none;
    width: 40px;
    height: 40px;
    background: #378FC4;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-next {
    position: absolute;
    top: calc(50% - 20px);
    left: -10px;
    background-image: url(img/left_arrow.svg);
}

.slick-prev {
    position: absolute;
    top: calc(50% - 20px);
    right: -10px;
    background-image: url(img/right_arrow.svg);
}

/*-- /Section 5 - Promo --*/

/*-- Section 6 - Promo --*/

.blue_callback {
    background: linear-gradient(90deg, #1F84B0 0%, #3DA2CE 100%);
    border-radius: 32px;
    max-width: 1360px;
    margin: 68px auto 117px auto;
    padding: 20px 40px 25px 40px;
    position: relative;
    overflow: hidden;
}

.blue_callback_two_cols {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 970px;
    position: relative;
    z-index: 2;
}

.blue_callback_two_cols > div:nth-child(1) {
    width: calc(100% - 230px);
    max-width: 737px;
    padding: 10px 10px 10px 0;
}

.blue_callback_two_cols > div:nth-child(2) {
    width: 230px;
    padding: 10px 0 10px 10px;
}

.blue_callback_descript {
    max-width: 580px;
}

.blue_callback_descript h2 {
    padding: 8px 0;
    color: #fff;
}

.blue_callback_descript h3 {
    padding-bottom: 43px;
    color: rgba(255, 255, 255, .8);
}

.blue_callback_descript p {
    padding-bottom: 2px;
    color: rgba(255, 255, 255, .8);
}

.white_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    min-width: 202px;
    min-height: 50px;
    background: #FFF;
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2085B1;
}

.callback_icon {
    position: absolute;
    top: -47px;
    right: 30px;
    max-width: 304px;
}

/*-- /Section 6 - Promo --*/

.dr_content {
    display: none;
}

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {

}
